/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_elb_website";
    src: url("./flaticon_elb_website.woff2?27fab21a4f841de77cc0df72c46a6cfc") format("woff2"),
url("./flaticon_elb_website.woff?27fab21a4f841de77cc0df72c46a6cfc") format("woff"),
url("./flaticon_elb_website.eot?27fab21a4f841de77cc0df72c46a6cfc#iefix") format("embedded-opentype"),
url("./flaticon_elb_website.ttf?27fab21a4f841de77cc0df72c46a6cfc") format("truetype"),
url("./flaticon_elb_website.svg?27fab21a4f841de77cc0df72c46a6cfc#flaticon_elb_website") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_elb_website !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-menu-2:before {
    content: "\f101";
}
.flaticon-menu-1:before {
    content: "\f102";
}
.flaticon-menu:before {
    content: "\f103";
}
.flaticon-more:before {
    content: "\f104";
}
.flaticon-back-1:before {
    content: "\f105";
}
.flaticon-next-1:before {
    content: "\f106";
}
.flaticon-next:before {
    content: "\f107";
}
.flaticon-right-arrow-1:before {
    content: "\f108";
}
.flaticon-arrow:before {
    content: "\f109";
}
.flaticon-back:before {
    content: "\f10a";
}
.flaticon-left-arrow:before {
    content: "\f10b";
}
.flaticon-right-arrow:before {
    content: "\f10c";
}
.flaticon-stop-button-1:before {
    content: "\f10d";
}
.flaticon-stop:before {
    content: "\f10e";
}
.flaticon-stop-button:before {
    content: "\f10f";
}
.flaticon-pause-3:before {
    content: "\f110";
}
.flaticon-pause-2:before {
    content: "\f111";
}
.flaticon-pause-1:before {
    content: "\f112";
}
.flaticon-pause:before {
    content: "\f113";
}
.flaticon-play:before {
    content: "\f114";
}
.flaticon-play-button:before {
    content: "\f115";
}
.flaticon-play-button-arrowhead:before {
    content: "\f116";
}
.flaticon-microphone-1:before {
    content: "\f117";
}
.flaticon-microphone:before {
    content: "\f118";
}
.flaticon-sound-bars:before {
    content: "\f119";
}
.flaticon-audio-waves:before {
    content: "\f11a";
}
.flaticon-volume-2:before {
    content: "\f11b";
}
.flaticon-volume-1:before {
    content: "\f11c";
}
.flaticon-sound:before {
    content: "\f11d";
}
.flaticon-volume:before {
    content: "\f11e";
}
.flaticon-cam-recorder:before {
    content: "\f11f";
}
.flaticon-online-video:before {
    content: "\f120";
}
.flaticon-video-1:before {
    content: "\f121";
}
.flaticon-video:before {
    content: "\f122";
}
.flaticon-youtube:before {
    content: "\f123";
}
.flaticon-review:before {
    content: "\f124";
}
.flaticon-personal-information:before {
    content: "\f125";
}
.flaticon-person-1:before {
    content: "\f126";
}
.flaticon-person:before {
    content: "\f127";
}
.flaticon-portrait:before {
    content: "\f128";
}
.flaticon-image-gallery-1:before {
    content: "\f129";
}
.flaticon-image-gallery:before {
    content: "\f12a";
}
.flaticon-about-1:before {
    content: "\f12b";
}
.flaticon-info-1:before {
    content: "\f12c";
}
.flaticon-home-4:before {
    content: "\f12d";
}
.flaticon-home-3:before {
    content: "\f12e";
}
.flaticon-follow-up:before {
    content: "\f12f";
}
.flaticon-email-2:before {
    content: "\f130";
}
.flaticon-email-1:before {
    content: "\f131";
}
.flaticon-email:before {
    content: "\f132";
}
.flaticon-contact-us:before {
    content: "\f133";
}
.flaticon-contact-mail:before {
    content: "\f134";
}
.flaticon-speak:before {
    content: "\f135";
}
.flaticon-list-1:before {
    content: "\f136";
}
.flaticon-files:before {
    content: "\f137";
}
.flaticon-to-do-list-1:before {
    content: "\f138";
}
.flaticon-to-do-list:before {
    content: "\f139";
}
.flaticon-clipboard:before {
    content: "\f13a";
}
.flaticon-list:before {
    content: "\f13b";
}
.flaticon-about:before {
    content: "\f13c";
}
.flaticon-information-button:before {
    content: "\f13d";
}
.flaticon-info:before {
    content: "\f13e";
}
.flaticon-information:before {
    content: "\f13f";
}
.flaticon-home-icon-silhouette:before {
    content: "\f140";
}
.flaticon-home-2:before {
    content: "\f141";
}
.flaticon-home-1:before {
    content: "\f142";
}
.flaticon-home:before {
    content: "\f143";
}

