html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

html { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }
@font-face { font-family: 'TeleNeoWeb-Medium'; src: url('fonts/TeleNeoWeb-Medium.woff') format('woff');}
@font-face { font-family: 'TeleNeoWeb-ExtraBold'; src: url('fonts/TeleNeoWeb-ExtraBold.woff') format('woff');}
@-moz-document url-prefix() { body { font-weight: lighter !important; } .frameLegal { letter-spacing: -0.1px; } }

/* ad */
body { cursor: pointer !important; background: transparent !important; font-family: Asap, Arial, sans-serif;}
span { display: block; word-wrap: break-word; /* IE>=5.5 */ white-space: -moz-pre-wrap; /* For Fx<=2 */ color: #fff; position:relative;}
svg{ position: absolute; }
strong, b { font-weight: bold;}
sup { font-size:55%; vertical-align: super; line-height: 1;}
/*#viewport { background: #e20074; overflow: hidden; }*/
#viewport { background: #e20074; overflow: hidden; }
#border{ border: solid 1px #666; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; pointer-events: none;}

.adSize{width: 320px; height: 50px;}
#failSafe { width: 193px; height: 77px; top: 50%; left: 50%; -webkit-transform:translateX(-50%) translateY(-50%); -ms-transform:translateX(-50%) translateY(-50%); transform:translateX(-50%) translateY(-50%); }

/* classes */
.posAbs { position: absolute !important;}
.frames {opacity: 0;}
.topL { top:0px; left:0px;}
.pointEvNone {pointer-events: none;}
.visHid { visibility: hidden; opacity: 0;}
.visShw { visibility: initial; opacity: 1;}
.verticalAlignCenter{ /* Internet Explorer 10 */ display:-ms-flexbox; -ms-flex-pack:center; -ms-flex-align:center; /* Firefox */ display:-moz-box; -moz-box-pack:center; -moz-box-align:center; /* Safari, Opera, and Chrome */ display:-webkit-box; -webkit-box-pack:center; -webkit-box-align:center; /* W3C */ display:box; box-pack:center; box-align:center; }

/* elements */
.center-textAlign { text-align: center; }
.left-textAlign { text-align: left; }
.right-textAlign { text-align: right; }

.box{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 2px 0px 2px; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'TeleNeoWeb-ExtraBold', Arial, sans-serif; }

.bound{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; overflow: hidden; }

.copy{ -webkit-box-ordinal-group:2; -ms-flex-order:1; order:1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; }

/* in */
#T_Logo {width: 226.6px; height: 188.7px; left: 45.1px; top: -69.3px;}
#Mobile_Logo {width: 226px; height: 189px; left: 45.3px; top: -69.5px; margin-left: 4px;}
.bar-overlay {position: absolute; height: 23px; width: 2px; background-color: #fff; left: 132px; top: 38px; z-index: 1; transform: rotate(180deg); transform-origin: top;}

/* f2 */
#F2-box { text-align: center; justify-content: center; }
#F2-bound { padding: 0px 17px 0px 50px;-webkit-box-sizing: border-box; box-sizing: border-box; }
#F2-1_copy-input_320x50 { -webkit-box-ordinal-group:2; -ms-flex-order:1; order:1; font-size:16px; line-height:0.95; padding-bottom:1px; }
#F2-2_copy-input_320x50 { -webkit-box-ordinal-group:3; -ms-flex-order:2; order:2; font-size:16px; line-height:0.95; padding-bottom:1px; }
#F2-3_copy-input_320x50 { -webkit-box-ordinal-group:4; -ms-flex-order:3; order:3; font-size:16px; line-height:0.95; padding-bottom:1px; }
#F2-frameLegal{ position: absolute; }

/* ef */
#EF-box { text-align: center; flex-direction: row; padding: 0px 23px 0px 90px; justify-content: center; }
#EF-bound { max-width: 234px; height: 100%; flex-direction: row; }
#EF-copy { -webkit-box-ordinal-group:2; -ms-flex-order:1; order:1; display: flex; flex-direction: column; justify-content: center; }
#EF-1_copy-input_320x50 { -webkit-box-ordinal-group:2; -ms-flex-order:1; order:1; font-size:16px; line-height:0.95; padding-bottom:1px; }
#EF-2_copy-input_320x50 { -webkit-box-ordinal-group:3; -ms-flex-order:2; order:2; font-size:16px; line-height:0.95; padding-bottom:1px; }
#EF-3_copy-input_320x50 { -webkit-box-ordinal-group:4; -ms-flex-order:3; order:3; font-size:16px; line-height:0.95; padding-bottom:1px; }

/* CTA */
#CTA-bound {-webkit-box-ordinal-group:3; -ms-flex-order:2; order:2; display: flex; justify-content: center; align-items: center; width: 20px; height: 100%; margin-left: 20px; }

/* Sliding entrances */
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}